<div class="pt-16">
  <div class="page-width">
    <div class="max-w-[700px] w-full mx-auto bg-white px-8 py-2 flex items-center justify-between rounded-full">
      <img
        class="max-w-28"
        src="https://cdn.shopify.com/s/files/1/0263/8974/1673/files/truspilot-logo.png?v=1758107889"
        alt="TrustPilot"
        width=""
        height="">
      <h2 class="text-sm  font-bold my-0 [display:none] md:block">DupeStore
        <span class="font-medium">is rated</span>
        Excellent</h2>
      <div class="flex items-center gap-2">
        <img
          class="max-w-36 [display:none] md:block"
          src="https://cdn.shopify.com/s/files/1/0263/8974/1673/files/trustpilot-stars.png?v=1758108070"
          alt="*****"
          width=""
          height="">
        <p class="my-0 text-sm">4.8 (962 reviews)</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Review Section Top",
    "presets": [
      {
        "name": "Review Section Top"
      }
    ]
  }
{% endschema %}